USE [Charity_Foundation_System]
GO
/****** Object:  Table [dbo].[Balance]    Script Date: 10/28/2025 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balance](
	[Balance_ID] [int] IDENTITY(2,2) NOT NULL,
	[Main_Balance] [money] NOT NULL,
	[Balance_project] [money] NOT NULL,
	[Balance_Event] [money] NULL,
	[Main_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Balance_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beneficiary]    Script Date: 10/28/2025 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiary](
	[Bene_ID] [int] IDENTITY(2,2) NOT NULL,
	[Bene_name] [varchar](40) NOT NULL,
	[Bene_Fathername] [varchar](40) NOT NULL,
	[Bene_Lastname] [varchar](40) NULL,
	[Bene_phone] [varchar](40) NULL,
	[Bene_Email] [varchar](30) NULL,
	[Bene_Address] [varchar](60) NULL,
	[Branch_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Bene_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 10/28/2025 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Branch_ID] [int] IDENTITY(2,2) NOT NULL,
	[Branch_name] [varchar](50) NOT NULL,
	[Branch_phone] [int] NULL,
	[Branch_Email] [varchar](30) NOT NULL,
	[Branch_Address] [varchar](60) NOT NULL,
	[Main_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Branch_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Charity_foundation]    Script Date: 10/28/2025 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charity_foundation](
	[Main_ID] [int] IDENTITY(2,2) NOT NULL,
	[Main_name] [varchar](40) NOT NULL,
	[Main_phone] [varchar](40) NOT NULL,
	[Main_Email] [varchar](30) NOT NULL,
	[Main_Address] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Main_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donar]    Script Date: 10/28/2025 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donar](
	[Donar_ID] [int] IDENTITY(2,2) NOT NULL,
	[Donar_name] [varchar](40) NOT NULL,
	[Donar_fathername] [varchar](40) NOT NULL,
	[Donar_Lname] [varchar](40) NULL,
	[Donar_Address] [varchar](60) NULL,
	[Donar_phone] [int] NULL,
	[Donar_Email] [varchar](40) NOT NULL,
	[Main_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Donar_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation]    Script Date: 10/28/2025 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation](
	[Donation_ID] [int] IDENTITY(2,2) NOT NULL,
	[Donation_Type] [varchar](50) NOT NULL,
	[Donation_amount] [varchar](20) NOT NULL,
	[Donar_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Donation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventes]    Script Date: 10/28/2025 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventes](
	[Event_ID] [int] IDENTITY(2,2) NOT NULL,
	[Event_Type] [varchar](60) NOT NULL,
	[Event_Location] [varchar](60) NOT NULL,
	[Event_Description] [varchar](100) NULL,
	[BRANCH_ID] [int] NULL,
	[Main_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 10/28/2025 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Project_ID] [int] IDENTITY(2,2) NOT NULL,
	[Project_Name] [varchar](60) NOT NULL,
	[Project_Description] [varchar](100) NOT NULL,
	[Project_Locatin] [varchar](50) NOT NULL,
	[Project_date] [date] NULL,
	[Branch_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Project_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 10/28/2025 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[Report_ID] [int] IDENTITY(2,2) NOT NULL,
	[Report_title] [varchar](50) NOT NULL,
	[Report_date] [date] NOT NULL,
	[Report_type] [varchar](40) NOT NULL,
	[Project_ID] [int] NULL,
	[Event_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Report_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 10/28/2025 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Staff_ID] [int] IDENTITY(2,2) NOT NULL,
	[Staff_Fname] [varchar](40) NOT NULL,
	[Staff_Fathername] [varchar](40) NOT NULL,
	[Staff_Lname] [varchar](40) NOT NULL,
	[Staff_Phone] [int] NULL,
	[Staff_Email] [varchar](30) NOT NULL,
	[Staff_Address] [varchar](60) NULL,
	[Branch_ID] [int] NULL,
	[Main_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Valanters]    Script Date: 10/28/2025 10:10:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Valanters](
	[Valanter_id] [int] IDENTITY(2,2) NOT NULL,
	[Valanter_Fname] [varchar](40) NOT NULL,
	[Valanter_Fathername] [varchar](40) NOT NULL,
	[Valnater_Lname] [varchar](40) NULL,
	[Valanter_phone] [int] NULL,
	[Valanter_Address] [varchar](60) NULL,
	[Branch_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Valanter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Balance] ON 

INSERT [dbo].[Balance] ([Balance_ID], [Main_Balance], [Balance_project], [Balance_Event], [Main_ID]) VALUES (2, 1000000.0000, 12000000.0000, 19000000.0000, NULL)
INSERT [dbo].[Balance] ([Balance_ID], [Main_Balance], [Balance_project], [Balance_Event], [Main_ID]) VALUES (4, 14560.0000, 123400.0000, 234000.0000, NULL)
SET IDENTITY_INSERT [dbo].[Balance] OFF
GO
SET IDENTITY_INSERT [dbo].[Beneficiary] ON 

INSERT [dbo].[Beneficiary] ([Bene_ID], [Bene_name], [Bene_Fathername], [Bene_Lastname], [Bene_phone], [Bene_Email], [Bene_Address], [Branch_ID]) VALUES (2, N'Qader', N'Baqer', N'Nader', N'0779482169', NULL, N'Barchi shahid mazari road', NULL)
INSERT [dbo].[Beneficiary] ([Bene_ID], [Bene_name], [Bene_Fathername], [Bene_Lastname], [Bene_phone], [Bene_Email], [Bene_Address], [Branch_ID]) VALUES (4, N'Bahram', N'Bahari', N'Saljuq', N'0784567876', NULL, N'Dah dana', NULL)
SET IDENTITY_INSERT [dbo].[Beneficiary] OFF
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([Branch_ID], [Branch_name], [Branch_phone], [Branch_Email], [Branch_Address], [Main_ID]) VALUES (8, N'Afghan charity', 79345678, N'afghan@gamil.com', N'kabul Afghanisan', NULL)
INSERT [dbo].[Branch] ([Branch_ID], [Branch_name], [Branch_phone], [Branch_Email], [Branch_Address], [Main_ID]) VALUES (10, N'Kabulchariyt', 78234567, N'kabulcharity@gmail.com', N'Kabul Tymani', NULL)
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[Charity_foundation] ON 

INSERT [dbo].[Charity_foundation] ([Main_ID], [Main_name], [Main_phone], [Main_Email], [Main_Address]) VALUES (4, N'WQS', N'0779482169', N'wqscharity@gmail.com', N'Kabul Afghanistna Barchy')
INSERT [dbo].[Charity_foundation] ([Main_ID], [Main_name], [Main_phone], [Main_Email], [Main_Address]) VALUES (6, N'Kandahar', N'0792345656', N'kandaharcharity@gamil.com', N'Kandahar Afghanistan')
SET IDENTITY_INSERT [dbo].[Charity_foundation] OFF
GO
SET IDENTITY_INSERT [dbo].[Donar] ON 

INSERT [dbo].[Donar] ([Donar_ID], [Donar_name], [Donar_fathername], [Donar_Lname], [Donar_Address], [Donar_phone], [Donar_Email], [Main_ID]) VALUES (4, N'Shamsudin', N'Gulzaman', N'Muhammd', N'Tymani', 79834567, N'shamsudin@gamil.com', NULL)
INSERT [dbo].[Donar] ([Donar_ID], [Donar_name], [Donar_fathername], [Donar_Lname], [Donar_Address], [Donar_phone], [Donar_Email], [Main_ID]) VALUES (6, N'Muhammd Hussian', N'GulamHussian', N'Kazim', N'Kabul ', 78934567, N'mhusssian@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[Donar] OFF
GO
SET IDENTITY_INSERT [dbo].[Donation] ON 

INSERT [dbo].[Donation] ([Donation_ID], [Donation_Type], [Donation_amount], [Donar_ID]) VALUES (2, N'Foods', N'100000', NULL)
INSERT [dbo].[Donation] ([Donation_ID], [Donation_Type], [Donation_amount], [Donar_ID]) VALUES (4, N'clouths', N'120000', NULL)
SET IDENTITY_INSERT [dbo].[Donation] OFF
GO
SET IDENTITY_INSERT [dbo].[Eventes] ON 

INSERT [dbo].[Eventes] ([Event_ID], [Event_Type], [Event_Location], [Event_Description], [BRANCH_ID], [Main_ID]) VALUES (2, N'Earthqueck', N'charara', N'This accedent hppend in charara', NULL, NULL)
INSERT [dbo].[Eventes] ([Event_ID], [Event_Type], [Event_Location], [Event_Description], [BRANCH_ID], [Main_ID]) VALUES (4, N'Snowing', N'Salank', N'bad happend in salank', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Eventes] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([Project_ID], [Project_Name], [Project_Description], [Project_Locatin], [Project_date], [Branch_ID]) VALUES (2, N'Earthqueck', N'This project is stared in tow mounth ago', N'In north of Afghnistna', CAST(N'2025-04-04' AS Date), NULL)
INSERT [dbo].[Project] ([Project_ID], [Project_Name], [Project_Description], [Project_Locatin], [Project_date], [Branch_ID]) VALUES (4, N'Snowing', N'This poject will start in soon ', N'In Kadahar', CAST(N'2025-02-27' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([Report_ID], [Report_title], [Report_date], [Report_type], [Project_ID], [Event_ID]) VALUES (2, N'Earthqueck', CAST(N'2025-08-03' AS Date), N'In progress', NULL, NULL)
INSERT [dbo].[Report] ([Report_ID], [Report_title], [Report_date], [Report_type], [Project_ID], [Event_ID]) VALUES (4, N'Snowing', CAST(N'2025-05-20' AS Date), N'will finish in soon', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Staff_ID], [Staff_Fname], [Staff_Fathername], [Staff_Lname], [Staff_Phone], [Staff_Email], [Staff_Address], [Branch_ID], [Main_ID]) VALUES (4, N'Muhammad Reza', N'Muhammdad Ali', N'Haydari', 773456786, N'muha@gmail.com', N'Barchi', NULL, NULL)
INSERT [dbo].[Staff] ([Staff_ID], [Staff_Fname], [Staff_Fathername], [Staff_Lname], [Staff_Phone], [Staff_Email], [Staff_Address], [Branch_ID], [Main_ID]) VALUES (6, N'Ahmad basid', N'Usoufzi', N'Khaliqi', 74567657, N'basid@gmail.com', N'Tymani project', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Valanters] ON 

INSERT [dbo].[Valanters] ([Valanter_id], [Valanter_Fname], [Valanter_Fathername], [Valnater_Lname], [Valanter_phone], [Valanter_Address], [Branch_ID]) VALUES (2, N'Abdulhay', N'Khan aqa', N'Barikzay', 793456734, NULL, NULL)
INSERT [dbo].[Valanters] ([Valanter_id], [Valanter_Fname], [Valanter_Fathername], [Valnater_Lname], [Valanter_phone], [Valanter_Address], [Branch_ID]) VALUES (4, N'Khodadad', N'Ahmadullah', N'Rahimi', 77654234, N'Kabul, barchi', NULL)
SET IDENTITY_INSERT [dbo].[Valanters] OFF
GO
ALTER TABLE [dbo].[Balance]  WITH CHECK ADD  CONSTRAINT [FK_Main_Balance] FOREIGN KEY([Main_ID])
REFERENCES [dbo].[Charity_foundation] ([Main_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Balance] CHECK CONSTRAINT [FK_Main_Balance]
GO
ALTER TABLE [dbo].[Beneficiary]  WITH CHECK ADD  CONSTRAINT [FK_Beneficairy_Branch] FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branch] ([Branch_ID])
GO
ALTER TABLE [dbo].[Beneficiary] CHECK CONSTRAINT [FK_Beneficairy_Branch]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Main_Branch] FOREIGN KEY([Main_ID])
REFERENCES [dbo].[Charity_foundation] ([Main_ID])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Main_Branch]
GO
ALTER TABLE [dbo].[Donar]  WITH CHECK ADD  CONSTRAINT [FK_Main_Donar] FOREIGN KEY([Main_ID])
REFERENCES [dbo].[Charity_foundation] ([Main_ID])
GO
ALTER TABLE [dbo].[Donar] CHECK CONSTRAINT [FK_Main_Donar]
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [FK_Donar_Donation] FOREIGN KEY([Donar_ID])
REFERENCES [dbo].[Donar] ([Donar_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [FK_Donar_Donation]
GO
ALTER TABLE [dbo].[Eventes]  WITH CHECK ADD  CONSTRAINT [FK_Branch_Event] FOREIGN KEY([BRANCH_ID])
REFERENCES [dbo].[Branch] ([Branch_ID]) on DELETE CASCADE on UPDATE CASCADE
GO
ALTER TABLE [dbo].[Eventes] CHECK CONSTRAINT [FK_Branch_Event]
GO
ALTER TABLE [dbo].[Eventes]  WITH CHECK ADD  CONSTRAINT [FK_Main_Event] FOREIGN KEY([Main_ID])
REFERENCES [dbo].[Charity_foundation] ([Main_ID])
GO
ALTER TABLE [dbo].[Eventes] CHECK CONSTRAINT [FK_Main_Event]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Branch_Project] FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branch] ([Branch_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Branch_Project]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Event_Report] FOREIGN KEY([Event_ID])
REFERENCES [dbo].[Eventes] ([Event_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Event_Report]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Project_Report] FOREIGN KEY([Project_ID])
REFERENCES [dbo].[Project] ([Project_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Project_Report]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Branch_Staff] FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branch] ([Branch_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Branch_Staff]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Charity_Staff] FOREIGN KEY([Main_ID])
REFERENCES [dbo].[Charity_foundation] ([Main_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Charity_Staff]
GO
ALTER TABLE [dbo].[Valanters]  WITH CHECK ADD  CONSTRAINT [FK_Branch_Valanter] FOREIGN KEY([Branch_ID])
REFERENCES [dbo].[Branch] ([Branch_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Valanters] CHECK CONSTRAINT [FK_Branch_Valanter]
GO
